# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import gkey

ModuleNotFoundError: No module named 'config'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [ ]:
# Load csv that was exported to DF
colnames = ['City', 'Latitude', 'Longitude', 'Max_Temp', 'Humidity', 'Cloudy', 'Wind', 'Country', 'Date']
data = pd.read_csv('City_Weather.csv', names=colnames)

data_df = data.drop([data.index[0]])

# Drop NaN
data_df.dropna(inplace = True)

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
# Store latitude and longitude in locations
locations = data_df[["Latitude", "Longitude"]].astype(float)

# Add Humid as Weights
humid = data_df["Humidity"].astype(float)

# Configure gmaps with API key
gmaps.configure(api_key=gkey)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
data_df.head()

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudy,Wind,Country,Date
1,upernavik,72.79,-56.15,34.21,88.0,0.0,8.32,GL,1592443046.0
2,yebaishou,41.4,119.64,75.31,42.0,100.0,8.59,CN,1592443475.0
3,butaritari,3.07,172.79,82.94,73.0,85.0,11.61,KI,1592443015.0
4,karratha,-20.74,116.85,75.7,40.0,0.0,5.46,AU,1592442920.0
5,hilo,19.73,-155.09,84.2,58.0,1.0,10.29,US,1592443004.0

In [23]:
# Set filters on ideal vacation city

# convert max temp and clouds to numbers
data_df['Max_Temp'] = pd.to_numeric(data_df['Max_Temp'])
data_df['Cloudy'] = pd.to_numeric(data_df['Cloudy'])
data_df['Humidity'] = pd.to_numeric(data_df['Humidity'])

# temp between 75-90
mask = (data_df['Max_Temp'] > 75) & (data_df['Max_Temp'] < 90)
vac_city1 = data_df.loc[mask]

#Clouds less than 20
vac_city2 = vac_city1.loc[(vac_city1['Cloudy'] < 20)]

#humidity less than 60
vac_city3 = vac_city2.loc[(vac_city2['Humidity'] < 25)]
vac_city3

,City,Latitude,Longitude,Max_Temp,Humidity,Cloudy,Wind,Country,Date
63,tatawin,32.93,10.45,87.80,11.0,0.0,5.82,TN,1592443482.0
82,arlit,18.74,7.39,87.94,11.0,0.0,11.61,NE,1592443062.0
93,tahta,26.77,31.5,89.60,22.0,0.0,10.29,EG,1592443486.0
105,fountain,38.68,-104.7,89.60,4.0,1.0,14.99,US,1592443445.0
221,riyadh,24.69,46.72,82.40,18.0,6.0,4.7,SA,1592443357.0
227,sohag,26.56,31.69,89.60,22.0,0.0,10.29,EG,1592443502.0
301,srednekolymsk,67.45,153.68,86.34,22.0,2.0,2.04,RU,1592443092.0
364,tabas,33.6,56.92,82.40,17.0,0.0,4.7,IR,1592443520.0
446,chokurdakh,70.63,147.92,84.18,24.0,0.0,11.25,RU,1592443020.0
464,aswan,24.09,32.91,87.80,12.0,0.0,13.87,EG,1592443080.0
470,sakakah,29.97,40.21,78.80,22.0,0.0,8.05,SA,1592443403.0
482,bilma,18.69,12.92,83.35,15.0,0.0,1.97,NE,1592443465.0
548,winslow,35.02,-110.7,87.80,6.0,1.0,21.92,US,1592443543.0
552,balkanabat,39.51,54.37,82.90,14.0,0.0,20.98,TM,1592443474.0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
# Set dataframe to hotel_df
hotel_df = vac_city3

# Store 'Lat' and 'Lng' into  locations 
locations = hotel_df[["Latitude", "Longitude"]].astype(float)
#print(locations)
num_loc = len(locations)
num_loc

14

In [25]:

# geocoordinates
#######################################################################
#  Loop through lat and lng
target_coordinates = "-20.74, 116.85"


target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

# convert response to json
places_data = response.json()

# Print the name and address of the first restaurant that appears
print(places_data["results"][0]["name"])


#Add column to dataframe for hotel name
#hotel_df['Hotel Name'] =

ibis Styles Karratha

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure